
.table-blue {
  background: #f8fbff;
}

.table-blue th {
  background: linear-gradient(90deg, #007bff, #00bfff);
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-bottom: 2px solid #1260a8;
}

.table-blue tbody tr {
  background-color: #fff;
}

.table-blue tbody tr:nth-child(even) {
  background-color: #e8f1fb;
}

.table-blue tbody tr:hover {
  background-color: #d3e4fa;
}

.table-blue td, .table-blue th {
  border-color: #d0e3fa !important;
}

.table-blue td {
  color: #19507e;
}