@inherits LayoutComponentBase


<div class="main-container">
    <header>
    <!--Muestra el menu de navegacion en la parte superior cuando la pagina cargada sea diferente a la raiz-->
            <NavMenu />

    </header>

    <main class="main-content">
        @Body
    </main>

    <footer class="footer-division">
        © 2025 - Proyecto Api | <a href="/politicas">Políticas de Privacidad</a>
    </footer>
</div>